test3.pdf
test3.tiff
FR1-P1-bis.tif
csvTest1.csv
csvTest2.csv
csvTest3.csv
last_centerline_visualization.tiff
csvTest3_turnaround_estimation.pdf
csvTest4.csv
FR1-P1-bis.cxd
P1-FR2.tif
P1-FR2.cxd
20240605_viscoelastic videos_AS.zip
FR1.cxd
FR1.tif
last_centerline_visualization.pdf
test5.tiff
test4.tiff
test3_cropped.tiff
csvTest3_in.csv
csvTest3_out.csv
test6.tiff
mica gold.tif
mica gold.cxd
mica_gold.tif
