test3.pdf
test3.tiff
FR1-P1-bis.tif
csvTest1.csv
csvTest2.csv
csvTest3.csv
last_centerline_visualization.tiff
csvTest3_turnaround_estimation.pdf
csvTest4.csv
FR1-P1-bis.cxd
P1-FR2.tif
P1-FR2.cxd
20240605_viscoelastic videos_AS.zip
FR1.cxd
FR1.tif
last_centerline_visualization.pdf
test5.tiff
test4.tiff
test3_cropped.tiff
csvTest3_in.csv
csvTest3_out.csv
test6.tiff
mica gold.tif
mica gold.cxd
mica_gold.tif
calibrated_csvTest4_in.csv
calibrated_csvTest4_out.csv
calibrated_csvTest4.csv
Junk/P1 HW.cxd
Junk/tracking_old.py
csvTest4_turnaround_estimation.pdf
csvTest5.csv
Mica mica in air with Hg_cropped.tif
Mica mica in air with Hg.tif
calibrated_csvTest5.csv
test3_2_cropped.tiff
test3_2.tiff
test4_cropped.tiff
Junk/csvTest5_turnaround_estimation.pdf
Junk/SFAv0.1.zip
Junk/SFAv0.2.zip
csvTest1_turnaround_estimation.pdf
calibrated_csvTest1.csv
test6_cropped.tiff
test_cropped.tiff
test.tiff
calibrated_csvtemp.csv
csvtemp_turnaround_estimation.pdf
csvtemp.csv
temp_cropped.tif
temp.tif
v1.zip
